# Created by .ignore support plugin (hsz.mobi)


# Elastic Beanstalk Files

.elasticbeanstalk/*
.idea
.idea/*
!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml
.elasticbeanstalk/
/AlertsMap/static/data/backup/
