Django==1.9.12
decorator==4.0.9
django-registration==2.2
django-widget-tweaks==1.4.1
djangorestframework==3.5.3
virtualenv==14.0.3
psycopg2==2.6.2
django-moderation==0.4.0
django-guardian
django-colorful
django-colorfield
django-agnocomplete
google-api-python-client
django-modeltranslation