Django==2.2.8
decorator==4.4.1
cython
django-widget-tweaks==1.4.5
djangorestframework==3.10.3
psycopg2-binary==2.8.4
django-guardian==2.0.0
django-colorfield==0.1.15
django-agnocomplete==0.14.0
google-api-python-client==1.7.11
django-modeltranslation==0.14
django-autocomplete-light==3.4.1
google-cloud-translate==2.0.0
django-grappelli