Django
decorator
django-registration
django-widget-tweaks
djangorestframework
virtualenv
psycopg2-binary
django-guardian
django-colorfield
django-agnocomplete
google-api-python-client
django-modeltranslation
django-autocomplete-light
django-modeltranslation