{% extends "base.html" %}


    {% block customscripts %}{% endblock %}

{% load i18n %}


{% block content %}

    <form method="post" action="../login/" class="form-signin">{% csrf_token %}
        <h2 class="form-signin-heading">{% trans 'Please Sign in' %}</h2>
        {% load widget_tweaks %}

        {% render_field form.username class+="form-control first-form-control bottom-flat" placeholder="Username" type="username"%}
        {% render_field form.password class+="form-control last-form-control top-flat" placeholder="Password" %}

        {% if form.errors %}
            <p class="alert alert-danger">{% trans "Your username and password didn't match. Please try again." %}</p>
        {% endif %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Login' %}</button>
        <input type="hidden" name="next" value="/" />
        <div class="form-control-static">
            {% trans "Don't have an account?" %} <a href="../register">{% trans 'Register Here' %}</a>
        </div>
    </form>

{% endblock %}