{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
<style>


</style>
    <form method="post" action="" class="form-signin">{% csrf_token %}
        <div class = "page-header">
            <h2 class="form-signin-heading">Register</h2>
        </div>

        {{ form }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <div class="form-control-static">
            Already have an account? <a href="../login/">Sign In</a>
        </div>
    </form>

{% endblock %}