{% extends "blank.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}User Registration{% endblock %}
{% block content %}
{% load i18n %}
<style>


</style>
    <form method="post" action="" class="form-signin">{% csrf_token %}
        <div class = "page-header">
            <h2 class="form-signin-heading">{% trans 'Register' %}</h2>
        </div>

        {{ form }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Register' %}</button>
        <div class="form-control-static">
            {% trans 'Already have an account?' %} <a href="{% url 'login' %}">{% trans 'Sign In' %}</a>
        </div>
    </form>

{% endblock %}