packages:
  yum:
    git: []
    postgresql93-devel: []

commands:
  seruptools_upgrade:
    command: /var/app/bin/pip install setuptools -U
    ignoreErrors: false
  pip_upgrade:
    command: /var/app/bin/pip install --upgrade pip
    ignoreErrors: false

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: alerts_map.settings
    SECRET_KEY: qjo7vjn#xkii$-**1xfy)a)6$vw51)!*zv@w6dlv9w-*\=_22vi
    DEBUG: True
    GOOGLE_APPLICATION_CREDENTIALS: /Alert System-70cfd3796f1c.json
  aws:elasticbeanstalk:container:python:
    WSGIPath: alerts_map/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: AlertsMap/static/
