option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: alerts_map.settings
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: AlertsMap/static/
  aws:elasticbeanstalk:container:python:
    WSGIPath: alerts_map/wsgi.py
    NumProcesses: 3
    NumThreads: 20