{% extends "blank.html" %}
{% load i18n %}
{% block content %}
    {% for alert in alerts %}
        <div class="container">
            <div class="page-header">
              <h1>{{ alert }}</h1>
            </div>
            {% if request.user.is_staff %}
                <a href="{{ alert.edit_url }}" class="btn btn-default">Edit Alert</a>
            {% endif %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'Field' %}</th>
                    <th>{% trans 'Value' %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row"></th>
                    <td>id</td>
                    <td>{{ alert.pk }}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>{% trans 'Date Refferal' %}</td>
                    <td>{{ alert.date_referal }}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Raion</td>
                    <td>{{ alert.raion }}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Oblast</td>
                    <td>{{ alert.oblast }}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Settlement</td>
                    <td>{{ alert.settlement }}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Number of Affected</td>
                    <td>{{ alert.no_affected }}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Number of Beneficiaries / Affected</td>
                    <td>{% if alert.no_beneficiaries != None %}{{ alert.no_beneficiaries }} / {% endif %}{{ alert.no_affected }}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Type of Alert</td>
                    <td>{{ alert.alert_type }}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Type of Needs</td>
                    <td>
                        {% for need in alert.get_needs_list %}
                            <span class="label label-primary">{{ need }}</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Clusters</td>
                    <td>
                        {% for cluster in alert.get_clusters_list %}
                            <span class="label label-primary">{{ cluster }}</span>
                        {% endfor %}
                    </td>
                </tr>
                {% if request.user.is_staff %}
                <tr>
                    <th scope="row"></th>
                    <td>Response Partners</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for partner in alert.get_response_partners %}
                                <li>{{ partner }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}

                <tr>
                    <th scope="row"></th>
                    <td>Need Items</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for item in alert.get_items %}
                                <li>{{ item.item__item_name }}: {{ item.quantity_need }} {{ item.unit__unit_name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td>Response Items</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for key, value in alert.get_response_items.items %}
                                <li>{{ key }}: {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>

        </div>
    {% endfor %}
{% endblock %}