<!DOCTYPE html>
<html>
    {% load staticfiles %}
	<head>

		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Alert system Ukraine</title>

		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

		<script src="{% static 'js/d3.v3.min.js' %}" charset="utf-8"></script>
		<script src="{% static 'libs/underscore-min.js' %}"></script>
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/changeLang.js' %}"></script>

		<script type="text/javascript">

            var setLang = function(newLang) {
                window.localStorage['lang'] = newLang;
            };

            if(!window.localStorage['lang']) {
                setLang('en');
            }

            changeLang(window.localStorage['lang']);

            $(document).ready(function(){
                $('.button-lang-'+window.localStorage['lang']).css({'background': '#ccc','border-color': '#888','color': '#000'});
            });

		</script>

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" />

{#        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css">#}
{#        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>#}
{#        <script>hljs.initHighlightingOnLoad();</script>#}

	</head>
	<body>

        <div class="header-wrapper">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header header" style="width: 100%">
                        <ul class="nav navbar-nav">
                            <a class="navbar-brand" href="/" data-i18n="Alerts">Alerts</a>
                            {% if user.is_authenticated %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/admin" class="translate">Admin Panel</a></li>
                                        {% comment %}<li><a href="/admin/moderation/moderatedobject/">Moderation</a></li>{% endcomment %}
                                        <li><a href="/admin/password_change/" class="translate">Change Password</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/logout" class="translate">Log Out</a></li>
                                    </ul>
                                </li>


                                <div class="header-button fleft">
                                    <button class="button-lang-en translate"  onclick="setLang('en');location.reload();">EN</button>
                                    <button class="button-lang-ua translate"  onclick="setLang('ua');location.reload();">UA</button>
                                    <button class="button-lang-ru translate"  onclick="setLang('ru');location.reload();">RU</button>
                                </div>

                            {% else %}
                                <li><a href="/login/">Sign In</a></li>
                            {% endif %}

                        </ul>

                        <div class="navbar-right">


                        </div>

                    </div>
                </div>
            </nav>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
        </div>


{#        <script type="text/javascript" src="{% static 'js/logic/set_conf.js' %}"></script>#}
{##}
{##}
{#        <script type="text/javascript">#}
{#            window.conf = setConf('{{ data }}');#}
{#        </script>#}

	</body>

</html>