<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load i18n %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Alert system Ukraine</title>

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>

    <script src="{% static 'libs/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'js/d3.v3.min.js' %}" charset="utf-8"></script>
    <script src="{% url 'javascript_catalog' %}"></script>
    <script src="{% static 'libs/crossfilter.min.js' %}"></script>
    <script src="{% static 'libs/underscore-min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>


    <link rel="stylesheet" href="{% static 'libs/leaflet/leaflet.css' %}"/>
    <link rel='stylesheet prefetch' href='{% static 'css/flag-icon.min.css' %}'>

    <script src="{% static 'js/selectize.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/jquery-ui.min.js' %}"></script>

    <script src="{% static 'js/jQDateRangeSlider-withRuler-min.js' %}"></script>
    <script src="{% static 'js/FileSaver.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/3.3.13/js/tableexport.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/selectize/selectize.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/selectize/selectize.default.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/iThing.css' %}"/>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/awesome-bootstrap-checkbox.css' %}"/>

    {% comment %} Custom CSS {% endcomment %}


    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>

</head>
<body id='root'>

<div class="modal fade bs-example-modal-lg" role="dialog" tabindex="-1" id="dataTableModal"
     aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width: 95%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body data">

                <table class="table-hover table" id="dataTable">

                    <script type="text/template" id="tplDataTableHead">
                        <td style="width:100px">{% trans 'ID' %}</td>
                        <td style="width:100px">{% trans 'Date' %}</td>
                        <td style="width:120px">{% trans 'Oblast' %}/
                            <wbr/>
                            {% trans 'Raion' %} /
                            <wbr/>
                            {% trans 'Settlement' %}</td>
                        <td style="width:100px">{% trans 'Related to Conflict' %}</td>
                        <td style="width:140px">{% trans 'Type of Needs' %}</td>
                        <td style="width:100px">{% trans 'Covered' %} /
                            <wbr/>
                            {% trans 'Affected' %}</td>
                        <td style="width:100px">{% trans 'Item' %}</td>
                        <td style="width:100px">{% trans 'Quantity Provided/Needed' %}</td>
                        <td style="width:80px">{% trans 'Additional info' %}</td>
                    </script>

                    <script type="text/template" id="tplDataTableRow">
                        <td><%= data.id %></td>
                        <td style="text-align:center"><%= data.date %></td>
                        <td><%= data.oblast %> / <%= data.raion %> / <%= data.settlement %></td>
                        <td style="text-align:center;"><%= data.conflictRelated %></td>
                        <td><%= data.needs %></td>
                        <td style="text-align:center;"><%= data.beneficiaries_gap %></td>
                        <td><%= data.item %></td>
                        <td><%=data.items_gap%></td>
                        <td style="text-align:center;"><a href="<%= data.view_url %>">{% trans 'Learn more' %}</a></td>
                    </script>

                </table>

            </div>
            <div class="modal-footer">
                <nav aria-label="Page navigation" style="text-align: center">
                    <ul id="dataTablePagination" class="pagination">
                    </ul>
                </nav>
            </div>


        </div>
    </div>
</div>

<div class="header-wrapper">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header header" style="width: 100%">
                <ul class="nav navbar-nav">
                    <li>
                        <button class="header-button fleft resetFilters"
                                id="resetFilters">{% trans "RESET FILTERS" %}</button>
                    </li>

                    {% if user.is_authenticated %}
                        <li>
                            <div class="header-controls">
                                <a href="{{ new_alert }}" class="header-button fleft">{% trans 'ADD AN ALERT' %}</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin">{% trans 'Admin Panel' %}</a></li>
                                <li><a href="/admin/password_change/">{% trans 'Change Password' %}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">{% trans 'Log Out' %}</a></li>
                            </ul>
                        </li>

                    {% else %}
                        <li><a href="/login/">{% trans 'Sign In' %}</a></li>
                    {% endif %}

                </ul>

                <div class="navbar-right">

                    <p class="header-text navbar-text" id="filterCounter"></p>
                    <script type="text/template" id="tplFilterCounter">
                        <%= data.value %> <span>{% trans 'alerts selected of' %}</span> <%= data.total %>
                    </script>


                    <ul class="nav navbar-nav">
                        <li>
                            <button id="openDataTable" type="button" class="header-button" data-toggle="modal"
                                    data-target=".bs-example-modal-lg">{% trans 'DATA TABLE' %}</button>
                            {% if user.is_authenticated %}
                                <button class="button header-button save-data">{% trans 'DOWNLOAD DATA' %}</button>
                            {% endif %}
                        </li>
                        <li>
                            <form action="{% url 'set_language' %}" method="post" id="setlang"
                                  style="display: none">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                                <select name="language" id="selectlang">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% for lang in LANGUAGES %}
                                        <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}
                                                selected="selected"{% endif %}>
                                            {{ lang.1 }} ({{ lang.0 }})
                                        </option>
                                    {% endfor %}
                                </select>
                                <input type="submit" value="Go"/>
                            </form>
                        </li>

                        <li class="dropdown" id="lang">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="langswitch"
                                                                                             class="flag-icon"></span>
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="lang-option" data-lang='en' href="#">
                                        <span class="flag-icon flag-icon-gb"></span> English
                                    </a>
                                </li>
                                <li>
                                    <a class="lang-option" data-lang='uk' href="#">
                                        <span class="flag-icon flag-icon-ua"></span> Українська
                                    </a>
                                </li>
                                <li>
                                    <a class="lang-option" data-lang='ru' href="#">
                                        <span class="flag-icon flag-icon-ru"></span> Русский
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </nav>
</div>


<div class="aside-wrapper wrapper">
    <aside>

        <div class="filter filter-cluster">
            <h3>{% trans 'Cluster' %}</h3>
            <div id="filterCluster"></div>
        </div>
        {% if user.is_staff %}
            <div class="filter filter-partner">

                <h3>{% trans 'Response partners' %}
                    <button id="clearPartners" class="btn btn-sm" style="display: none">{% trans 'Clear' %}</button>
                </h3>

                <div class="checkbox" style="display: none">
                    <input type="checkbox" id="filterPartnersAll"/>
                    <label for="filterPartnersAll">
                        {% trans 'All response partners' %}
                    </label>
                </div>


                <div id="filterPartnerSelected"></div>

                <select id="filterPartner" class="demo-default selectized" multiple="multiple"
                        style="display: none;" placeholder="{% trans '- Select partner to filter -' %}" tabindex="-1">
                </select>

            </div>
        {% endif %}

        <div class="filter filter-status">
            <h3>{% trans 'Status' %}</h3>
            <div id="filterStatus"></div>
        </div>

        <div class="filter filter-type">
            <h3>{% trans 'Alert type' %}</h3>
            <div id="filterType"></div>
        </div>


        <div class="filter filter-need">
            <h3>{% trans 'Needs type' %}</h3>
            <div id="filterNeed"></div>
        </div>

        <div class="filter filter-oblast">
        </div>

        <div class="filter filter-location" style="height: 230px">
            <h3>{% trans 'Location' %}</h3>
            <button id="clearLocation" class="btn btn-sm" style="display: none">Clear</button>


            <div>
                <select id="locations-filter" class="selectized" multiple="multiple" style="display: none;"
                        placeholder='- Select location to filter -' tabindex="-1">
                </select>
            </div>
        </div>
    </aside>
</div>
<div class="main-wrapper wrapper">
    <main>

        <div id="map"></div>

        <div class="bottom-wrapper">

            <div class="bottom">
                <div id="slider"></div>
            </div>
        </div>

        <div id="mapLegend"></div>

        <div class="data-table" style="display: none">
            <div class="data-table-close" id="dataTableClose">&times;</div>
            <div class="data-table-overflow">
                <table></table>
            </div>

        </div>
    </main>
</div>

<script type="text/template" id="tplPopup">

    <p class="popup-title">
        <%= data.title %>
    </p>

    <p>
        <b>{% trans 'Clusters' %}:</b> <%= data.clusters.join(', ') %>
    </p>
    <p>
        <b>{% trans 'Number of covered/affected people' %}:</b> <%= data.covered %>/<%= data.affected %>
    </p>
    <p>
        <b>{% trans 'Type alert' %}:</b> <%= data.type %>
    </p>
    <p>
        <b>{% trans 'Type of Needs' %}:</b> <%= data.needs.join(', ') %>
    </p>
    {#    <p>#}
    {#        <b>{% trans 'Context' %}:</b><br/>#}
    {#        <span style="white-space:pre-wrap"><%= data.context %></span>#}
    {#    </p>#}
    {#    <p>#}
    {#        <b>{% trans 'Description' %}:</b><br/>#}
    {#        <span style="white-space:pre-wrap"><%= data.description %></span>#}
    {#    </p>#}

    <p>
        <b>{% trans 'Related to Conflict' %}:</b>
        <% if(data.conflictRelated) { %> Yes <% } else { %> No <% } %>
    </p>

    <p>
        <b>{% trans 'Date referral' %}:</b> <%= conf.dateFormat(data.date) %>
    </p>


    <p>
        <a href='<%= data.view_url %>'>{% trans 'Learn more' %}</a>
    </p>

</script>

<script src="{% static 'js/topojson.v1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/logic/flattenize.js' %}"></script>
<script type="text/javascript" src="{% static 'data/grey_zone.js' %}"></script>
<script type="text/javascript" src="{% static 'js/logic/set_conf.js' %}"></script>


<script type="text/javascript">

    function transformRaions(array, oblast) {
        return array.filter(function (d) {
            return d.oblast === oblast;
        }).map(function (o) {
            return {
                key: o.id,
                value: o.raion_name
            };
        })
    }

    const raions = JSON.parse('{{ raions | escapejs }} ');
    const raionColors = {};
    raions.map(function (d) {
        raionColors[d.id] = d.color
    });

    const lang = '{{ LANGUAGE_CODE }}';

    window.conf = setConf('{{ data }}',{{ access }}, lang, raionColors, [transformRaions(raions, 1400000000), transformRaions(raions, 4400000000)]);

    $('.lang-option').on('click', function () {
        var lang = $(this).data('lang');
        setLang(lang);
    });

    function setLang(lang) {
        $('#selectlang').val(lang);
        $('#setlang').submit();
        return false;
    }

    var langs = {
        'en': 'gb',
        'uk': 'ua',
        'ru': 'ru'
    };

    $('#langswitch').addClass('flag-icon-' + langs[lang])

</script>

<script src="{% static 'js/logic/map.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>

</html>